body {
    background-color: #F7F1DB;
    font-family: 'Fredoka One', sans-serif;
    cursor: crosshair;
}

#title {
    margin: auto;
    text-align: center;
    font-size: 8vw;
}
#tic {
    color: #21665A;
}
#tac {
    color: #277063;
}
#toe {
    color: #298C7A;
}
.dot {
    color: #A63333;
}

.game-board {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    grid-gap: 1vw;
}
.game-space {
    font-size: 8vw;
    height: 10vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka One', sans-serif;
}
#grid-lines {
    background-color: #A63333;
    width: 32vw;
    margin: auto;
}
.bg-color-fix {
    background-color: #F7F1DB;
}
.x {
    color: #277063;
}
.o {
    color: #298C7A;
}

#scores {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto 20vw;
    font-size: 2vw;
    text-align: center;
    color: #F7F1DB;
}
#x-div {
    background-color: #277063;
}
#o-div {
    background-color: #298C7A;
}
#draw-div {
    background-color: #39A692;
}
#x-score, #o-score, #draw-count {
    color: #A63333
}

#resets {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto 20vw;
    font-size: 2vw;
    text-align: center;
    color: #F7F1DB;
    background-color: #1C5C51;
}
#reset-game:hover {
    color: #A63333;
    -webkit-text-stroke-color: #F7F1DB;
    -webkit-text-stroke-width: 0.5px;
}
#reset-scores:hover {
    color: #A63333;
    -webkit-text-stroke-color: #F7F1DB;
    -webkit-text-stroke-width: 0.5px;
}


#info {
    margin-top: 2vw;
}





@media only screen and (max-width: 768px) {

    #title {
        font-size: 15vw;
    }

    #grid-lines {
        width: 82vw;
    }

    .game-board {
        grid-template-columns: 26vw 26vw 26vw;
        grid-gap: 2vw;
    }

    .game-space {
        height: 26vw;
        font-size: 20vw;
    }

    #info {
        width: 100vw;
        position: relative;
        bottom: 0px;
    }

    #resets {
        grid-template-columns: auto;
        margin: auto;
        font-size: 6vw;
    }

    #scores {
        grid-template-columns: auto;
        margin: auto;
        font-size: 6vw;
    }

    #scores > div {
        padding: 1.5vw;
    }

    #resets > div {
        padding: 1.5vw;
    }

    .large-only {
        display: none;
    }
    #reset-scores {
        background-color: #21665A;
    }

}