body {
    background-color: honeydew;
}

.grid-container {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    grid-gap: 1vw;
}

.game-space {
    font-size: 8vw;
    height: 10vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka One', sans-serif;
}

#grid-lines {
    background-color: black;
    width: 32vw;
    margin: auto;
}

.bg-color-fix {
    background-color: honeydew;
}





@media only screen and (max-width: 768px) {

    #grid-lines {
        width: 82vw;
    }

    .grid-container {
        grid-template-columns: 26vw 26vw 26vw;
        grid-gap: 2vw;
    }

    .game-space {
        height: 26vw;
        font-size: 20vw;
    }
}